body {
background-color:grey;
}
.intro-header {
color:black;
font-family:cursive;
font-size:100px;
letter-spacing:20px;
text-decoration:black wavy underline;
display:grid;
justify-content:center;
}
.intro-para {
display:grid;
justify-content:center;
font-family:cursive;
font-size:30px;
color:white;
position:relative;
bottom:50px;
}

.cat-pics {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  
}



.cat-pic-1 {
height:300px;
width:300px;
border: 30px groove brown;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
.cat-pic-2 {
height:300px;
width:300px;
border: 30px groove brown;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}
.cat-pic-3 {
height:300px;
width:300px;
border:30px groove brown;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.credits {
font-size:10px;

}
